html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
}

.icon {
    color: #202020;
    position: absolute;
    width: 26px;
    height: 26px;
    left: 60px;
    top: 60px;
}

.navigation-menu {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 40px 60px;

    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
}


.navigation-menu .active {
    color: #c08d5d
}

.logo {
    position: absolute;
    width: 38.64;
    height: 59px;
    left: 701px;
    top: 43px;

}
a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.section {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    background-color: #fffaf3;
}

