@-ms-viewport{
    width: device-width;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*width: 100%;*/
}

body {
    margin:
    padding:
    background-color: #e5e5e5
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
}

nav a {
    display: 
    text-decoration: none;
}

.icon {
    color: #202020;
    position: absolute;
    width: 26px;
    height: 26px;
    left: 60px;
    top: 60px;
}

.primary {
    position: absolute;
    width: 305px;
    height: 27px;
    left: 298px;
    top: 59px;

    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
}

.primary .home {
    color: #c08d5d
}

.logo {
    position: absolute;
    width: 38.64;
    height: 59px;
    left: 701px;
    top: 43px;

}

.secondary {
    position: absolute;
    width: 266px;
    height: 27px;
    left: 840px;
    top: 60px;

    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;

    color: black;
}
/*Rectangle 1 */
.section {
    position: absolute;
    width: 1320px;
    height: 634px;
    left: 60px;
    top: 186px;
    background-color: #fffaf3;
}
